


$sidebar-width:                                     80px;
$sidebar-expanded-width:                            230px;
$sidebar-background-color:                          #373942;
$sidebar-menu-hide-color:                           #747780;
$sidebar-menu-hide-font-size:                       18px;
$sidebar-menu-hide-arrow-font-size:                 13px;
$sidebar-menu-item-font-size:                       18px;
$sidebar-menu-item-title-color:                     #B5B7C3;
$sidebar-menu-item-icon-color:                      #FFF;
$sidebar-menu-item-expand-color:                    #B7B8BB;
$sidebar-menu-item-expand-font-size:                10px;
$sidebar-menu-item-border-top-color:                #4C4D5B;

#sidebar {
  background: $sidebar-background-color;
  display: inline-block;
  width: $sidebar-width;
  height: 100%;
  float: left;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  .inner {
    .menu {
      > .hide-toggle {
        color: $sidebar-menu-hide-color;
        font-size: $sidebar-menu-hide-font-size;
        height: 70px;
        position: relative;
        cursor: pointer;
        span {
          text-transform: uppercase;
          position: absolute;
          bottom: 10px;
          left: 50%;
          visibility: hidden;
          opacity: 0;
          -webkit-transition: all 500ms ease;
          -moz-transition: all 500ms ease;
          -o-transition: all 500ms ease;
          transition: all 500ms ease;
        }
        &:after {
          @include fa-icon();
          content: $fa-var-chevron-right;
          font-size: $sidebar-menu-hide-arrow-font-size;
          position: absolute;
          bottom: 16px;
          left: 10px;
        }
      }
      > ul {
        margin: 0;
        padding: 0;
        list-style: none;
        > li {
          margin: 0;
          padding: 0;
          list-style: none;
          border-top: 1px solid $sidebar-menu-item-border-top-color;
          &:last-child {
            border-bottom: 1px solid $sidebar-menu-item-border-top-color;
          }
          &.has-children {
            > a {
              &:after {
                @include fa-icon();
                content: $fa-var-chevron-down;
                color: $sidebar-menu-item-expand-color;
                font-size: $sidebar-menu-item-expand-font-size;
                position: absolute;
                top: 50%;
                right: 20px;
                transform: translateY(-50%);
              }
            }
          }
          > a {
            color: $sidebar-menu-item-title-color;
            display: block;
            height: 68px;
            width: 100%;
            position: relative;
            > span {
              font-size: $sidebar-menu-item-font-size;
              text-transform: uppercase;
              position: absolute;
              top: 50%;
              left: 50px;
              transform: translateY(-50%);
              visibility: hidden;
              opacity: 0;
              -webkit-transition: all 500ms ease;
              -moz-transition: all 500ms ease;
              -o-transition: all 500ms ease;
              transition: all 500ms ease;
            }
            &:before {
              @include fa-icon();
              content: $fa-var-chevron-down;
              color: $sidebar-menu-item-icon-color;
              position: absolute;
              top: 50%;
              left: 22px;
              transform: translateY(-50%);
            }
          }
          ul.second {
            display: none;
            margin: 0;
            padding: 0;
            list-style: none;
            > li {
              margin: 0;
              padding: 0;
              list-style: none;
              > a {
                color: $sidebar-menu-item-title-color;
                display: block;
                > span {
                  font-size: $sidebar-menu-item-font-size;
                  text-transform: uppercase;
                  position: absolute;
                  top: 50%;
                  left: 50px;
                  transform: translateY(-50%);
                  visibility: hidden;
                  opacity: 0;
                  -webkit-transition: all 500ms ease;
                  -moz-transition: all 500ms ease;
                  -o-transition: all 500ms ease;
                  transition: all 500ms ease;
                }
                &:after {
                  @include fa-icon();
                  content: $fa-var-chevron-down;
                  color: $sidebar-menu-item-icon-color;
                  position: absolute;
                  top: 50%;
                  left: 21px;
                  transform: translateY(-50%);
                }
              }
            }
          }
        }
      }
    }
  }
  &.expanded {
    width: $sidebar-expanded-width;
    .inner {
      .menu {
        > .hide-toggle {
          span {
            left: 25px;
            transform: translateX(0);
            visibility: visible;
            opacity: 1;
          }
          &:after {
            content: $fa-var-chevron-left;
          }
        }
        > ul {
          > li {
            > a {
              span {
                visibility: visible;
                opacity: 1;
              }
            }
          }
          &.second {
            > li {
              > a {
                span {
                  visibility: visible;
                  opacity: 1;
                }
              }
            }
          }
        }
      }
    }
  }
}

#sidebar {
  .inner {
    .menu {
      > ul {
        > li {
          &.dashboard {
            > a {
              &:before {
                content: $fa-var-globe;
              }
            }
          }
          &.plan {
            > a {
              &:before {
                content: $fa-var-tachometer;
              }
            }
          }
          &.kpis {
            > a {
              &:before {
                content: $fa-var-area-chart;
              }
            }
          }
          &.reports {
            > a {
              &:before {
                content: $fa-var-users;
              }
            }
          }
          &.resources {
            > a {
              &:before {
                content: $fa-var-briefcase;
              }
            }
          }
          &.admin {
            > a {
              &:before {
                content: $fa-var-cog;
              }
            }
          }
        }
      }
    }
  }
}

@media #{$small-up} {
}
@media #{$medium-up} {
}
@media #{$large-up} {
}
@media #{$large-only} {
}
@media #{$xlarge-up} {
}
@media #{$xlarge-only} {
}
@media #{$xxlarge-up} {
}
@media #{$xxlarge-only} {
}