


$body-background:															      $white;
$topbar-height:                                     70px;
$topbar-topbar-border-bottom:                       #EDEDED;
$topbar-title-color:                                #2F9BE7;
$topbar-title-font-size:                            24px;
$topbar-breadcrumb-color:                           #A5A5A5;
$topbar-breadcrumb-font-size:                       16px;
$topbar-filter-button-color:                        #419FE8;
$topbar-filter-button-background:                   #FFF;
$key-status-at-target-background:                   #2EA998;
$key-status-not-at-target-recognised-background:    #D8C171;
$key-status-not-at-target-critical-background:      #D97563;
$key-status-not-started-background:                 #CCC;
$key-status-not-applicable-background:              #929292;


#body {
  background: $body-background;
  display: inline-block;
  width: calc(100% - #{$sidebar-expanded-width});
  .inner {
    .topbar {
      height: $topbar-height;
      border-bottom: 1px solid $topbar-topbar-border-bottom;
      position: relative;
      .title {
        position: absolute;
        top: 50%;
        left: 30px;
        transform: translateY(-50%);
        a {
          color: $topbar-title-color;
          font-size: $topbar-title-font-size;
        }
      }
      .breadcrumbs {
        position: absolute;
        top: 50%;
        left: 160px;
        transform: translateY(-50%);
        ul {
          margin: 0;
          padding: 0;
          list-style: none;
          li {
            display: inline-block;
            margin: 0;
            padding: 0;
            position: relative;
            list-style: none;
            a {
              color: $topbar-breadcrumb-color;
              font-size: $topbar-breadcrumb-font-size;
              padding-right: 35px;
              &:after {
                @include fa-icon();
                content: $fa-var-long-arrow-right;
                color: $topbar-breadcrumb-color;
                position: absolute;
                top: 54%;
                right: 12px;
                transform: translateY(-50%);
              }
            }
            &:last-child {
              a {
                &:after {
                  display: none;
                }
              }
            }
          }
        }
      }
      .filters {
        position: absolute;
        top: 50%;
        right: 130px;
        transform: translateY(-50%);
        .buttons {
          a {
            color: $topbar-filter-button-color;
            .button {
              background: $topbar-filter-button-background;
              width: 117px;
              height: 42px;
              border: 1px solid $topbar-filter-button-color;
              border-radius: 3px;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              span {
                color: $topbar-filter-button-color;
                font-weight: bold;
                text-transform: uppercase;
                position: absolute;
                top: 50%;
                left: 17px;
                transform: translateY(-50%);
              }
              &:after {
                @include fa-icon();
                content: $fa-var-filter;
                color: $topbar-filter-button-color;
                text-transform: uppercase;
                position: absolute;
                top: 50%;
                right: 18px;
                transform: translateY(-50%);
              }
            }
          }
        }
      }
    }
    .key {
      margin: 60px 0px 0px 30px;
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
          display: inline-block;
          margin: 0;
          padding: 0;
          position: relative;
          margin-left: 18px;
          padding-left: 18px;
          list-style: none;
          &:before {
            content: ' ';
            position: absolute;
            background: orange;
            width: 10px;
            height: 10px;
            top: 50%;
            left: 0px;
            border-radius: 10px;
            transform: translateY(-50%);
          }
          &.at-target {
            &:before {
              background-color: $key-status-at-target-background;
            }
          }
          &.not-at-target-recognised {
            &:before {
              background-color: $key-status-not-at-target-recognised-background;
            }
          }
          &.not-at-target-critical {
            &:before {
              background-color: $key-status-not-at-target-critical-background;
            }
          }
          &.not-started {
            &:before {
              background-color: $key-status-not-started-background;
            }
          }
          &.not-applicable {
            &:before {
              background-color: $key-status-not-applicable-background;
            }
          }
          &:first-child {
            &:before {
              margin-left: 0;
            }
          }
        }
      }
    }
  }
}

@media #{$small-up} {
}
@media #{$medium-up} {
}
@media #{$large-up} {
}
@media #{$large-only} {
}
@media #{$xlarge-up} {
}
@media #{$xlarge-only} {
}
@media #{$xxlarge-up} {
}
@media #{$xxlarge-only} {
}