


$body-background:															      $white;

#body {
  background: $body-background;
  display: inline-block;
}

@media #{$small-up} {
}
@media #{$medium-up} {
}
@media #{$large-up} {
}
@media #{$large-only} {
}
@media #{$xlarge-up} {
}
@media #{$xlarge-only} {
}
@media #{$xxlarge-up} {
}
@media #{$xxlarge-only} {
}