


$table-background:                                  $body-background;
$table-border:                                      #DCDCDC;
$table-head-color:                                  #9B9292;
$table-head-font-size:                              13px;
$table-body-color:                                  #262626;
$table-body-first-row-font-size:                    13px;
$table-body-first-column-color:                     #7A7A7A;
$table-body-first-column-font-size:                 15px;
$table-body-first-column-width:                     359px;
$table-body-info-font-size:                         17px;
$table-body-bubble-font-size:                       15px;
$table-body-bubble-state-disabled-background:       #DCDCDC;
$table-body-bubble-default-color:                   $white;
$table-body-bubble-state-success-background:        #0BC189;
$table-body-bubble-state-warning-background:        #F5C622;
$table-body-bubble-state-alert-background:          #ED573C;

.dashboard-view-table {
  margin-left: 15px;
  table {
    width: 100%;
    border: 1px solid $table-border;
    border-collapse: collapse;
    thead {
      tr {
        th {
          color: $table-head-color;
          font-size: $table-head-font-size;
          padding: 15px;
          position: relative;
          border: 1px solid $table-border;
          > div {
            span.displayBlock {
              display: block;
            }
            &.icon {
              padding-left: 40px;
              &:before {
                content: ' ';
                width: 32px;
                height: 32px;
                position: absolute;
                top: 50%;
                left: 15px;
                transform: translateY(-50%);
              }
              &.icon-global {
                &:before {
                  background: url('../images/flag_global.png') no-repeat;
                }
              }
              &.icon-gb {
                &:before {
                  background: url('../images/flag_gb.png') no-repeat;
                }
              }
              &.icon-fr {
                &:before {
                  background: url('../images/flag_fr.png') no-repeat;
                }
              }
              &.icon-de {
                &:before {
                  background: url('../images/flag_de.png') no-repeat;
                }
              }
              &.icon-hr {
                &:before {
                  background: url('../images/flag_it.png') no-repeat;
                }
              }
            }
          }
        }
      }
    }
    tbody {
      tr {
        background: $table-background;
        td {
          color: $table-body-color;
          text-align: center;
          position: relative;
          border: 1px solid $table-border;
          span.info {
            cursor: pointer;
            &:before {
              @include fa-icon();
              content: $fa-var-info;
              font-size: $table-body-info-font-size;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }
          span.bubble {
            color: $table-body-bubble-default-color;
            font-size: $table-body-bubble-font-size;
            display: block;
            padding: 6px 0px;
            border-radius: 3px;
            &.state-disabled {
              background-color: $table-body-bubble-state-disabled-background;
            }
            &.state-success {
              background-color: $table-body-bubble-state-success-background;
            }
            &.state-warning {
              background-color: $table-body-bubble-state-warning-background;
            }
            &.state-alert {
              background-color: $table-body-bubble-state-alert-background;
            }
          }
          &:first-child {
            color: $table-body-first-column-color;
            font-size: $table-body-first-column-font-size;
            text-align: left;
            width: $table-body-first-column-width;
            padding: 15px 18px;
          }
        }
        &.heading {
          background: $white;
          td {
            font-size: $table-body-first-row-font-size;
            text-transform: uppercase;
            &:first-child {
              font-size: 18px;
              font-weight: bold;
              text-transform: none;
              width: $table-body-first-column-width;
              padding-top: 5px;
              padding-bottom: 5px;
            }
          }
        }
      }
    }
  }
}

@media #{$small-up} {
}
@media #{$medium-up} {
}
@media #{$large-up} {
}
@media #{$large-only} {
}
@media #{$xlarge-up} {
}
@media #{$xlarge-only} {
}
@media #{$xxlarge-up} {
}
@media #{$xxlarge-only} {
}