        <footer id="footer">
            <div>
            <a href="#" class="icon icon-top back-to-top" title="Back to top">Back to top</a>
            <div class="row">
                <div class="small-12 medium-7 columns">
                    <ul class="footer-nav">
                    </ul>

                    <ul class="footer-nav">
                    </ul>
                </div>
                <div class="small-12 medium-4 columns right copy">
                        <div class="icon icon-logo-full icon-logo-full-dims"></div>
                        <p>&copy; Kent County Council</p>
                </div>
            </div>
        </div>
        </footer>

        <!-- Javascript -->
        <script src="assets/js/vendor/vendor.js"></script>
        <script src="assets/js/main.js"></script>
        <script src="assets/js/vendor/rem.js"></script>


 







