        <header>
            <div>

                <div class="row">
                    <div class="skip-link">
                        <a href="#main" title="Skip to page content">Skip to content</a>
                    </div>
                     <a href="/" class="logo">
                        Kent County Council
                    </a>
                </div>

                <div class="nav-bar">
                    <div class="row">
                        <div class="search">
                            <form action="//www.kent.gov.uk/search" method="get">
                                <input type="hidden" value="results" name="mode">
                                <label for="queries_keyword_query">Search</label>
                                <input type="text" onblur="if (this.value == '') { this.value=''; }" onfocus="if (this.value == '') { this.value = ''; }" id="queries_keyword_query" class="sq-form-field" size="5" value="" name="queries_keyword_query" placeholder="Search kent.gov.uk...">
                                <input type="submit" value="Search" title="Search">
                            </form>
                        </div>
                    </div>



                    <nav class="nav">

                    </nav>
                </div>

                <div id="breadcrumb-container"></div>

            </div>
        </header>
