<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7 lt-ie10"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie10"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9 lt-ie10"><![endif]-->
<!--[if IE 9]><html class="no-js lt-ie10"><![endif]-->
<html class="no-js" lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">

  <title>Ignite Static - Dashboard</title>
  <meta name="description" content="">

  <!-- Viewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Stylesheets -->
  <link href="../assets/css/style.css" rel="stylesheet" media="screen, print">

  <!-- favicon -->
  <link rel="apple-touch-icon" sizes="57x57" href="..../assets/favicons/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="..../assets/favicons/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="..../assets/favicons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/favicons/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="../assets/favicons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="../assets/favicons/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="../assets/favicons/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="../assets/favicons/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="../assets/favicons/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="../assets/favicons/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="../assets/favicons/favicon-194x194.png" sizes="194x194">
  <link rel="icon" type="image/png" href="../assets/favicons/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="../assets/favicons/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="../assets/favicons/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="../assets/favicons/manifest.json">
  <meta name="msapplication-TileColor" content="#00aba9">
  <meta name="msapplication-TileImage" content="../assets/favicons/mstile-144x144.png">
  <meta name="themes-color" content="#ffffff">

  <!-- Webfonts -->
  <link href='http://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700' rel='stylesheet' type='text/css'>

  <!-- JS -->
  <script src="../assets/foundation/js/vendor/jquery-1.10.2.min.js"></script>
  <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>-->

  <!-- Modernizr -->
  <script src="../assets/foundation/js/vendor/custom.modernizr.js"></script>
  <!-- BEGIN RESPOND AND REM FOR IE8 AND BELOW -->
    <!--[if lt IE 9]>
    <script src="../assets/js/vendor/respond.min.js"></script>
    <script src="../assets/js/vendor/rem.min.js"></script>
    <![endif]-->
    <!-- END RESPOND AND REM FOR IE8 AND BELOW -->
  </head>

  <body class="dev">
    <header>
      <div class="inner">
        <div class="topbar-desktop">
          <div class="row-fluid">
            <div class="small-12 columns">
              <a href="#">
                <div class="logo">
                  <div class="inner"></div>
                </div>
              </a>
              <div class="dropdown-menus">
                <div class="item one">
                  <div class="title">
                    Launch Plan
                  </div>
                  <div class="value">
                    Lorem ipsum plan
                  </div>
                </div>
                <div class="item two">
                  <div class="title">
                    User
                  </div>
                  <div class="value">
                    Steve Marsh
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="row-fluid h100p">
      <div class="bodywrap h100p">
        <section id="sidebar" class="expanded">
          <div class="inner">
            <div class="menu">
              <div class="hide-toggle">
                <span>
                  Hide Menu
                </span>
              </div>
              <ul>
                <li class="dashboard has-children">
                  <a href="#">
                    <span>
                      Dashboard
                    </span>
                  </a>
                  <ul class="second">
                    <li>
                      <a href="#">
                        <span>
                          Item 1
                        </span>
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="plan has-children">
                  <a href="#">
                    <span>
                      Plan
                    </span>
                  </a>
                  <ul class="second">
                    <li>
                      <a href="#">
                        <span>
                          Item 1
                        </span>
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="kpis">
                  <a href="#">
                    <span>
                      KPIs
                    </span>
                  </a>
                </li>
                <li class="reports">
                  <a href="#">
                    <span>
                      Reports
                    </span>
                  </a>
                </li>
                <li class="resources has-children">
                  <a href="#">
                    <span>
                      Resources
                    </span>
                  </a>
                  <ul class="second">
                    <li>
                      <a href="#">
                        <span>
                          Item 1
                        </span>
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="admin has-children">
                  <a href="#">
                    <span>
                      Admin
                    </span>
                  </a>
                  <ul class="second">
                    <li>
                      <a href="#">
                        <span>
                          Item 1
                        </span>
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </section>
        <section id="body">
          <div class="inner">
            <div class="row">
              <div class="topbar">
                <div class="small-12 medium-12 large-12 columns h100p">
                  <div class="title">
                    <a href="#">
                      Dashboard
                    </a>
                  </div>
                  <div class="breadcrumbs">
                    <ul>
                      <li>
                        <a href="#">
                          KPIs
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          UK
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          Product Name
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="filters">
                    <div class="buttons">
                      <a href="#">
                        <div class="button">
                          <span>
                            Filters
                          </span>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="key">
                  <div class="small-12 medium-12 large-12 columns h100p">
                    <ul>
                      <li class="at-target">
                        <span>
                          At Target - not an issue
                        </span>
                      </li>
                      <li class="not-at-target-recognised">
                        <span>
                          Not at Target - Recognised Issue: Action in Place
                        </span>
                      </li>
                      <li class="not-at-target-critical">
                        <span>
                          Not at Target - Critical Issue: Action required to address
                        </span>
                      </li>
                      <li class="not-started">
                        <span>
                          Not Started
                        </span>
                      </li>
                      <li class="not-applicable">
                        <span>
                          Not Applicable
                        </span>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="dashboard-view-table">
                  <pre>table here</pre>
                </div>
              </div>
          </div>
        </section>
      </div>
    </div>
    <footer>
    </footer>
    <a class="exit-off-canvas"></a>

    <!-- Javascript -->
    <script src="../assets/js/vendor.js"></script>
    <script src="../assets/js/main.js"></script>
    <script src="../assets/js/vendor/rem.js"></script>
  </body>
</html>
