


$header-height:                                     76px;
$header-background-color:                           #2F9BE7;
$header-dropdown-border-color:                      #2A8ACE;
$header-dropdown-title-color:                       #BDDAF2;
$header-dropdown-title-font-size:                   12px;
$header-dropdown-value-font-size:                   14px;
$header-dropdown-title-font-size-gt-md:             13px;
$header-dropdown-value-font-size-gt-md:             18px;
$header-dropdown-value-color:                       #FFF;
$header-dropdown-chevron-color:                     #96CCF3;

header {
  .topbar-desktop {
    @include clearfix;
    background: $header-background-color;
    height: $header-height;
    overflow: hidden;
    .logo {
      background: url("../images/ignite_logo.png");
      width: 90px;
      height: 38px;
      margin-top: 20px;
      margin-left: 23px;
      float: left;
    }
    .hamburger {
      display: block;
      width: 20px;
      position: absolute;
      top: 50%;
      right: 30px;
      cursor: pointer;
      span {
        background: #FFf;
        display: block;
        width: 100%;
        height: 3px;
        margin-bottom: 2px;
        border-radius: 3px;
      }
    }
    .dropdown-menus {
      display: none;
      float: right;
      .item {
        display: inline-block;
        padding: 23px 12px 23px 12px;
        border-left: 1px solid $header-dropdown-border-color;
        position: relative;
        cursor: pointer;
        .title {
          color: $header-dropdown-title-color;
          font-size: $header-dropdown-title-font-size;
          line-height: 0.8;
          text-transform: uppercase;
        }
        .value {
          color: $header-dropdown-value-color;
          font-size: $header-dropdown-value-font-size;
        }
        &:after {
          @include fa-icon();
          content: $fa-var-chevron-down;
          color: $header-dropdown-chevron-color;
          font-size: 12px;
          position: absolute;
          top: 35%;
          right: 25px;
          transform: translateY(-50%);
        }
        &:hover {
          &:after {
            opacity: 0.8;
          }
        }
      }
    }
  }
}

@media #{$small-up} {
}
@media #{$medium-up} {
  header {
    .topbar-desktop {
      .hamburger {
        display: none;
      }
      .dropdown-menus {
        display: block;
      }
    }
  }
}
@media #{$large-up} {
  header {
    .topbar-desktop {
      .dropdown-menus {
        .item {
          padding: 23px 20px 23px 23px;
          .title {
            font-size: $header-dropdown-title-font-size-gt-md;
          }
          .value {
            font-size: $header-dropdown-value-font-size-gt-md;
          }
          &:after {
            top: 33%;
          }
        }
      }
    }
  }
}
@media #{$large-only} {
}
@media #{$xlarge-up} {
  header {
    .topbar-desktop {
      .dropdown-menus {
        .item {
          padding: 23px 100px 23px 23px;
          &:after {
            font-size: 18px;
            top: 50%;
            right: 5px;
          }
        }
      }
    }
  }
}
@media #{$xlarge-only} {
}
@media #{$xxlarge-up} {
}
@media #{$xxlarge-only} {
}